@media screen and (min-width: 852px){
    .nav-hover:hover {
        background-color: var(--green);
        color: var(--white);
        border-radius: 5px;
    }

    .li-drp:hover .drp-div {
        visibility: visible;
    }

    .drp-li:hover .drp-div-in {
        visibility: visible;
    }

    .drp-div {
        background-color: var(--white);
        border-radius: 0 0 5px 5px;
        position: absolute;
        top: 31px;
        width: 100%;
        visibility: hidden;
    }
    .drp-div-in {
        background-color: var(--white);
        border-radius: 0 0 5px 5px;
        position: absolute;
        left: 101%;
        top: 15%;
        width: 100px; 
        visibility: hidden;
    }
    .drp-li {
        position: relative;
    }

    #drp-check{
        visibility: hidden;
        position: absolute;
       }
   #drp-check-in{
    visibility: hidden;
    position: absolute;
   }

   .hamburg-btn{
    display: none;
   }

   .btn-close-mark label{
    display: none;
   }

}

@media screen and (max-width: 852px) {

    .header-navigation {
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .navbar {
        max-width: 100%;
        padding: 10px 10px;
        justify-content: space-between;
    }

    .nav-content-list {
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 20%;
        padding-bottom: 25px;
    }

    .nav-content {
        display: flex;
        align-items: center;
        gap: 20px;
    }


    .menu-open {
        display: contents;
    }

    .menu-close {
        display: contents;
    }

    .menu li a {
        font-size: 18px;
    }
#drp-check{
    display: none;
}
#drp-check-in{
    display: none;
}
.menu{
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -100px;
    opacity: 0;
    width: 80%;
    background-color: rgb(39, 41, 41);
    overflow: auto;
    display: flex;
    justify-content: center;
    transition: all .3s ease-in-out;
}

#checkbox-check:checked~.menu{
    visibility: visible;
    opacity: 1;
    right:0px;
    transition: all .3s ease-in-out;
    height: 100vh;
}

.drp-div{
    visibility: hidden;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:-5px;  
    width: 100%;
    opacity: 0;
    background-color: rgb(39, 41, 41);
    padding-top: 20px;

}

.nav-content-btn .btn-login{
    display: none;
}

#drp-check:checked~.drp-div{
    visibility: visible;
    position: relative;
    transition: all .5s ease-in-out;
    opacity: 1;
    top: 0;
    /* right:0px; */
}
.hamburg-btn .btn-joinus{
    display: none;
}

.hamburg-btn .btn{
    font-size: 20px;
}

.btn-close-mark{
    position: fixed;
    top: 15px;
    right: 15px;
}

.btn-close-mark label{
    
    display: block;
    font-size: 30px;
   }

.drp-div-in{
    visibility: hidden;
    position:absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -5px;
    width: 100%;
    opacity: 0;
    background-color: rgb(39, 41, 41);
    padding-top: 10px;

}

#drp-check-in:checked~.drp-div-in{
    visibility: visible;
    position: relative;
    opacity: 1;
    top:0px;
    transition: all .5s ease-in-out;
}

.hamburg-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* isbdhvskjdbvpisdbvpijsdbvkjsbdvijsbdvpijsbdvjpsdb */

    .hamburg {
        display: flex;
        align-items: center;
    }

    /* section 1 banner */

    .banner-content {
        max-width: 100%;
        margin: 0 auto;
    }

    .banner-content-in {
        align-items: center;
        gap: 10px;
    }

    .banner-content-in h1 {
        text-align: center;
    }

    .banner-h4 {
        text-align: center;
    }

    .banner-img {
        margin: auto 0;
    }

    .banner-img {
        width: 100%;
    }

    h1 {
        font-size: 45px;
        line-height: 45px;
    }

    h4 {
        font-size: 17px;
        line-height: 24px;
    }

    .nav-list-btn-login {
        display: contents;
    }

    .nav-list-btn {
        display: contents;
    }

    /* section 2 */

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-content-row-img {
        display: flex;
    }

    .card:hover {
        background-color: var(--white);

        .card-grid-h5 {
            color: var(--blue);
        }

        .card-grid-p {
            color: var(--grey);
        }

        .card-grid-h5::after {
            background-color: var(--red);
        }
    }

    /* section 6 */

    .card-grid-pricing {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing-card-in:hover {

        background-color: #ffffff;

        .card-content-h3 {
            color: var(--blue);
        }

        .card-content-h6,
        .card-content-price-p {
            color: var(--grey);
        }

        .details-h6 h6 {
            color: var(--blue);
        }
    }

    /* footer */

    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .new {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        top: -35px;
        left: 80%;
    }

    .new-h3 {
        font-size: 16px;
    }

}

@media screen and (max-width: 667px) {

    .banner {
        flex-direction: column-reverse;
    }

    .card-grid-pricing {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .pricing-card-in {
        max-width: fit-content;
    }

    .card-grid-pricing {
        justify-items: center;
    }

    .section-content-row {
        flex-direction: column;
        gap: 50px;
    }

    .section-content-row-img {
        width: 100%;
    }

}

@media screen and (max-width: 567px) {


    .footer-grid {
        grid-template-columns: 1fr 1fr;
    }

    /* .footer-grid-div{
        align-items: center;
    } */
    /* .footer-grid-content{
        align-items: center;
    } */

    .footer-grid-col-2 {
        grid-column: span 2;
    }

    .footer-section-contacts {
        padding: 50px 0 25px 0 !important;
    }

    .footer-container {
        flex-direction: column-reverse;
        gap: 10px;
        align-items: center;
    }

    .footer-bottom-icon-div {
        padding-right: 0;
    }

    .nav-list-btn-login {
        display: block;

    }
}

@media screen and (max-width: 431px) {

    .section {
        max-width: 425px;
    }

    .container {

        max-width: 425px;
        padding: 0 10px;
    }
    .hamburg-btn .btn-joinus{
        display: unset;
    }
    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    h4 {
        font-size: 16px;
        line-height: 25px;
    }

    .btn-mob {
        padding: 10px 15px;
    }

    .btn-mob i {
        font-size: 13px;
    }

    .footer-grid {
        grid-template-columns: 1fr 1fr;
    }

    .btn-joinus {
        display: none;
    }

    .nav-list-btn-join {
        display: contents;
    }

    /* .nav-list-btn-join{
        display: contents;
    } */

    /* section 2 */

    .card {
        max-width: fit-content;
    }

    .card-grid-p {
        max-width: 190px;
    }

    .card-info {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /* section 7 */

    .section-content {
        flex-direction: column;
    }

    .section-content-poster {
        width: 100%;
    }

    .section-content-col {
        gap: 50px;
    }

    .content-row-heading {
        gap: 15px;
    }

    .content-row-heading {
        gap: 15px;
    }

    .col-heading-search-h2 {
        text-align: center;
        font-size: 35px;
    }

    /* section 8  */

    .col-heading-h2 {
        text-wrap: wrap;
    }

    /* footer */


}


@media screen and (max-width: 372px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }

    .banner-img {
        display: none;
    }

    section {
        padding: 50px 0;
    }

    .card-grid {
        grid-template-columns: 1fr;
    }


    .new {
        width: 60px;
        height: 60px;
    }

    .footer-bottom-text-h6{
        text-align: center;
    }
}