* {

    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

:root {
    --blue: #252B42;
    --green: #96BB7C;
    --grey: #737373;
    --red: #E74040;
    --white: #ffffff;
}


h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin: 0;
    padding: 0;

}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* text wrap */

.txt {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

/* button  */

.btn {
    /* max-width: 137px; */
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    align-items: center;
    font-weight: 700;
    padding: 15px 25px;
}

.btn-large {
    max-width: fit-content;
}

.btn-fill {
    background-color: var(--green);
    color: var(--white);
}

.btn-hollow {
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
}

.btn-none {
    background-color: transparent;
    border: none;
    text-align: center;
    color: var(--green);
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-link {
    display: flex;
    gap: 10px;
    max-width: fit-content;
    padding-left: 0;
}

img {
    max-width: 100%;
}

section {
    padding: 100px 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30PX;
    max-width: 1080px;
    padding: 10px;
    margin: 0 auto;
}

.hanburger i {
    font-size: 30px;
}

.hanburger {
    display: none;
}

.nav-logo-mob {
    display: none;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-content {
    display: flex;
    flex: 1;
}

.nav-content-items {
    display: flex;
    flex: 1;
    align-items: center;
}

.nav-content-btn {
    display: flex;
    gap: 10px;
}

.nav-list-none {
    display: none;
}

.nav-content-list {
    display: flex !important;
    gap: 21px;
    list-style: none;
    color: var(--grey);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding-inline-start: 0px;

}

.nav-content-list li {
    padding: 0;
    max-height: fit-content;
}

.nav-content-list li a {
    padding: 10px;
}

li>a {
    text-decoration: none;
    color: var(--grey);
    max-width: 60px;
}

.nav-heading>h3 {
    text-align: left;
    color: var(--blue);
    max-width: 181px;

}

.menu-open{
    font-size: 24px;
    display: none;
}

#checkbox-check {
    visibility: hidden;
}

/* dropdown 1 */
#drp-check-in {
    visibility: visible;
}

.li-drp {
    position: relative;
}



.drp-list {
    list-style: none;
    /* padding-left: 0; */
    padding-left: 10px;
}

.drp-a {
    border-radius: 5px 5px 0 0 !important;
}

.drp-list li {
    padding: 5px 0;
}

.drp-list-in {
    list-style: none;
    /* padding-left: 0; */
    padding-left: 10px;
}

.drp-list-in li {
    padding: 5px 0;
}



/* .drp-li a{
    padding: 10px 0 !important;
} */

/* dropdown - 2 */





.nav-list-btn {
    display: none;
}

.nav-list-btn-login {
    display: none;
    color: var(--white);
    font-size: 20px;
}

.nav-list-btn-join {
    display: none;
    font-size: 20px;
}

.nav-list-btn {
    padding: 5px 10px !important;
    font-size: 50px;
}

/* inside dropdown */

/* button end */

/* navbar */

.header-navigation {
    background-color: #EFF8ED;
}



/* end of navbar and section one body start */

.section-banner {
    background-color: #EFF8ED;
}

.container-banner {
    max-width: 1440px;
}

.banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.banner-content {
    max-width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.banner-img {
    width: 50%;
}

.banner-content-in {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 573px;
}

.banner-h5 {
    color: var(--green);
    max-width: 70px;
}

.banner-h1 {
    color: var(--blue);
    max-width: 450px;
    text-wrap: wrap;
}

.banner-h4 {
    max-width: 390px;
    text-wrap: wrap;
    color: var(--grey);
}

.banner-btn {
    display: flex;
    gap: 10px;
}

/* section1 body  end */
/* sction 2 start */

.section-content-col {
    display: flex;
    flex-direction: column;
    gap: 112px;
}

.content-col-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-heading-h6 {
    color: var(--green);
}

.col-heading-h2 {
    color: var(--blue);
}

.col-heading-p {
    color: var(--grey);
    max-width: 395px;
    text-wrap: wrap;
}

.card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    padding: 35px 40px;
}

.card:hover {
    background-color: #96BB7C;
    color: #ffffff;

    .card-grid-h5,
    .card-grid-p {
        color: var(--white);
    }

    .card-grid-h5::after {
        background-color: var(--white);
    }
}

.card-grid-img {
    width: 72px;
    height: 72px;

}

.card-grid-h5 {
    color: var(--blue);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-grid-h5::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--red);
}

.card-grid-p {
    color: var(--grey);
    max-width: 135px;
    text-wrap: wrap;
}

.card:hover {
    background-color: #96BB7C;
    color: #ffffff;

    .card-grid-h5,
    .card-grid-p {
        color: var(--white);
    }
}

/* section 3 */

.section-content-row {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.section-content-row-img {
    width: 50%;
    position: relative;
}

.section-content-row-img img {
    border-radius: 20px;
    width: 100%;
}

.content-row-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.row-heading-h2::before {
    content: "";
    width: 94px;
    height: 7px;
    background-color: var(--red);
}

.row-heading-h2 {
    color: var(--blue);
    max-width: 263px;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.row-heading-p {
    color: var(--grey);
    max-width: 335px;
    text-wrap: wrap;
}

/* section 4 */

.row-heading-h2-nowrap {
    max-width: 460px !important;
}

.row-img-disc {
    width: 90px;
    height: 90px;
    background-color: var(--green);
    border-radius: 73.6px;
    position: absolute;
    bottom: calc(50% - 45px);
    left: calc(50% - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.row-img-disc i {
    color: var(--white);
}

/* rest is section 3 code */

/* section5 */

.row-card-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row-card-img {
    position: relative;
}

.row-card-img img {
    width: 100%;
}

.label-txt {
    position: absolute;
    left: 4%;
    top: 4%;
    background-color: var(--red);
    color: var(--white);
    padding: 0 10px;
}

.like {
    display: flex;
    gap: 10px;
    width: 100%;
    position: absolute;
    bottom: 5%;
    justify-content: center;
    align-items: center;
}

.like-div {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: none;
    background-color: var(--white);
}

.like-div i {
    color: var(--blue);
}

.row-card-content {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 25px 20px;
}

.row-card-content-in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.rating-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-box-a {
    color: var(--green);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.rating {
    width: 60px;
    height: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 20px;
}

.star-icon {
    padding-left: 5px;
}

.rating-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-right: 5px;
    color: var(--white);
}

.download {
    display: flex;
    gap: 10px;
}

.price {
    display: flex;
    gap: 5px;
}

/* decoration the card */

.section5-card-in>h5 {
    color: var(--blue);
}

.section5-card-in>p {
    color: var(--blue);
}

.sale-count {
    color: var(--grey);
}

.price {
    display: flex;
    gap: 5px;
}

.price-original h5 {
    color: var(--grey);
}

.price-off h5 {
    color: #FFAB71;
}

.section5-card-in>button {
    border: 1px solid var(--green);
    border-radius: 37px;
}

.btn-cart {
    display: flex;
    gap: 10px;
    justify-content: center;
    max-width: 165px;
    border-radius: 37px;
    text-wrap: wrap;
    position: relative;
}

.btn-cart-1::after {
    border-color: var(--green);
    border-style: solid;
    border-width: 2.5px 2.5px 0 0;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    rotate: 45deg;
}


.sale {
    width: 51px;
    height: 20px;
    border-radius: 3px;
    background-color: var(--red);
    position: relative;
    bottom: 80%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sale h6 {
    color: var(--white);
    max-width: 50px;
    text-wrap: nowrap;
}

/* section 6 */

.card-grid-pricing {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.pricing-card-in {

    display: flex;
    justify-content: space-around;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 35px;
    padding-bottom: 35px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    padding: 0 20px;
}

.card-love {
    width: 96px;
    height: 96px;
    background-color: var(--green);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-love i {
    color: var(--white);
    font-size: 36px;
}

.card-content-h3 {
    color: var(--blue);
    max-width: 80%;
    text-wrap: wrap;
}

.card-content-h6 {
    color: #737373;
    max-width: 140px;
    text-wrap: wrap;
    text-align: center;
}

.card-content-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-amount {
    color: #96BB7C;
    max-width: 80%;
    text-wrap: wrap;
}

.card-content-price-h6 {
    color: #8EC2F2;
    max-width: 80px;
}

.card-content-price-p {
    color: #737373;
    text-align: center;
    max-width: 195px;
    text-wrap: wrap;
}

.btn-max {
    width: 100% !important;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.details-in {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.details-check {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-green {
    background-color: #2DC071;
}

.check-grey {
    background-color: #BDBDBD;
}

.details-check i {
    color: var(--white);
}

.new {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #E77C40;
    position: absolute;
    left: 80%;
    bottom: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-h3 {
    color: #ffffff;
    max-width: 65px;
}

/* hover effect */

.pricing-card-in:hover {

    background-color: #252B42;
    color: var(--white);

    .card-content-h3,
    .card-content-h6,
    .card-content-price-p {
        color: var(--white);
    }
}

/* section7 */

.section-content {
    display: flex;
}

.section-content-poster,
.section7-botton-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-poster-img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.poster-img-person {
    border-radius: 50%;
}

.content-poster-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.poster-description-p {
    color: #737373;
    max-width: 290px;
    text-wrap: wrap;
    text-align: center;
}

.poster-description-i i {
    color: gold;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.name-h5 {
    color: var(--blue);
}

.name-h6 {
    color: var(--grey);
}

/* section 8 */

.section-search {
    background-color: #FFF2F3;
}

.content-col-heading-search {
    align-items: center;
}

.col-heading-search-h6 {
    color: var(--green);
    max-width: 85px;
}

.col-heading-search-h2 {
    color: var(--blue);
    max-width: 430px;
}

.col-heading-search-p {
    max-width: 395px;
    text-align: center;
    color: var(--grey);
    text-wrap: wrap;
}

/* search bar */
.section-content-searchbar {
    display: flex;
    justify-content: center;
}

.section-search-box {
    display: flex;
    justify-content: center;
    width: 688px;
}

.section-search-box input {
    flex: 1;
    padding-left: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
}

.section-search-box input:focus {
    outline-style: none;
}

.btn-search {
    border-radius: 0px 5px 5px 0px;
}

/* footer */

#footer-bottom {
    background-color: #fafafa;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1.5fr);
    gap: 30px;
}

/* for taking 2 column */

.footer-grid-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-grid-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-grid-content a {
    text-decoration: none;
    color: var(--grey);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.grid-content-icon {
    display: flex !important;
    gap: 10px;
    align-items: center;
}

.footer-grid-icon i {
    color: var(--green);
}

.grid-content-h6 {
    color: var(--grey);
}

.grid-content-h6-address {
    max-width: 255px;
    text-wrap: wrap;
}

/* footer bottom */
.footer-section-bottom {
    padding: 25px 0;
}

.footer-container {
    max-width: 1080px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.footer-bottom-text-h6 {
    color: var(--grey);
}

.footer-bottom-icon-div {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.footer-bottom-icon-div i {
    font-size: 24px;
    color: var(--green);
}